{% extends 'worker/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table width="264" border="1">
    <tr>
      <td><a href="view_and_edit_profile">View profile</a></td>
    </tr>
    <tr>
      <td><a href="add_portfolio">Add portfolio</a></td>
    </tr>
    <tr>
      <td><a href="view_portfolio">View portfolio</a></td>
    </tr>
    <tr>
      <td><a href="view_user_request">View user request</a></td>
    </tr>
    <tr>
      <td><a href="approve_request">Approve request</a></td>
    </tr>
      <tr>
      <td><a href=" view_status">View status</a></td>
    </tr>
    <tr>
      <td><a href="view_complaint_from_user">View complaint from users</a></td>
    </tr>
    <tr>
      <td><a href="change_password">Change password</a></td>
    </tr>
    <tr>
      <td><a href="view_review_and_rating">View review and rating</a></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}