<form action="" method="get"><table width="200" border="1">
  <tr>
    <td><a href="/view_workers_approve">view workers approve</a></td>
  </tr>
  <tr>
    <td><a href="/view_approved_workers">view approved worker</a></td>
  </tr>
  <tr>
    <td><a href="/view_rejected_workersview_rejected_workers">view rejected workers</a></td>
  </tr>
  <tr>
    <td><a href="/view_workers_portfolio">view users</a></td>
  </tr>
  <tr>
    <td><a href="/view_Complaint">view Complaint</a></td>
  </tr>
  <tr>
    <td><a href="/View_feed_back">View feed back</a></td>
  </tr>
  <tr>
    <td><a href="/">logout</a></td>
  </tr>
     <tr>
{#    <td><a href="/logout">logout</a></td>#}
  </tr>
</table>
</form>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
</body>
</html>
